<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    홈페이지 입니다.
    <header>
        <nav>
            <a href="/login">로그인</a>
            <a href="/contact">게시판</a>
        </nav>

    </header>
</body>

</html>